<?xml version="1.0" encoding="UTF-8"?>
<?include VersionInfo.Generated.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Kean.Installer" Language="$(var.ProductLanguage)" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductManufacturer)" UpgradeCode="426d8d5d-6f47-4283-a72b-361973d2fb46">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>
		
		<Feature Id="ProductFeature" Title="Kean" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ProductModules" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="[INSTALLFOLDER]">
					<Directory Id="MODULESFOLDER" Name="Modules" />
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="Kean.Cli">
				<File Source="$(var.Kean.Cli.TargetPath)" />
			</Component>
			<Component Id="Kean.Cli.Argument">
				<File Source="$(var.Kean.Cli.Argument.TargetPath)" />
			</Component>
			<Component Id="Kean.Core">
				<File Source="$(var.Kean.Core.TargetPath)" />
			</Component>
			<Component Id="Kean.Core.Buffer">
				<File Source="$(var.Kean.Core.Buffer.TargetPath)" />
			</Component>
			<Component Id="Kean.Core.Collection">
				<File Source="$(var.Kean.Core.Collection.TargetPath)" />
			</Component>
			<Component Id="Kean.Core.Error">
				<File Source="$(var.Kean.Core.Error.TargetPath)" />
			</Component>
			<Component Id="Kean.Core.Notify">
				<File Source="$(var.Kean.Core.Notify.TargetPath)" />
			</Component>
			<Component Id="Kean.Core.Parallel">
				<File Source="$(var.Kean.Core.Parallel.TargetPath)" />
			</Component>
			<Component Id="Kean.Core.Recycle">
				<File Source="$(var.Kean.Core.Recycle.TargetPath)" />
			</Component>
			<Component Id="Kean.Core.Reflect">
				<File Source="$(var.Kean.Core.Reflect.TargetPath)" />
			</Component>
			<Component Id="Kean.Core.Serialize">
				<File Source="$(var.Kean.Core.Serialize.TargetPath)" />
			</Component>
			<Component Id="Kean.Core.Uri">
				<File Source="$(var.Kean.Core.Uri.TargetPath)" />
			</Component>
			<Component Id="Kean.DB">
				<File Source="$(var.Kean.DB.TargetPath)" />
			</Component>
			<Component Id="Kean.DB.Sql">
				<File Source="$(var.Kean.DB.Sql.TargetPath)" />
			</Component>
			<Component Id="Kean.Draw">
				<File Source="$(var.Kean.Draw.TargetPath)" />
			</Component>
			<Component Id="Kean.Draw.Cairo">
				<File Source="$(var.Kean.Draw.Cairo.TargetPath)" />
			</Component>
			<Component Id="Kean.Draw.OpenGL">
				<File Source="$(var.Kean.Draw.OpenGL.TargetPath)" />
			</Component>
			<Component Id="Kean.Draw.Raster">
				<File Source="$(var.Kean.Draw.Raster.TargetPath)" />
			</Component>
			<Component Id="Kean.Draw.Vector">
				<File Source="$(var.Kean.Draw.Vector.TargetPath)" />
			</Component>
			<Component Id="Kean.Html.Dom">
				<File Source="$(var.Kean.Html.Dom.TargetPath)" />
			</Component>
			<Component Id="Kean.IO">
				<File Source="$(var.Kean.IO.TargetPath)" />
			</Component>
			<Component Id="Kean.IO.Net">
				<File Source="$(var.Kean.IO.Net.TargetPath)" />
			</Component>
			<Component Id="Kean.IO.Tap">
				<File Source="$(var.Kean.IO.Tap.TargetPath)" />
			</Component>
			<Component Id="Kean.Json">
				<File Source="$(var.Kean.Json.TargetPath)" />
			</Component>
			<Component Id="Kean.Json.Dom">
				<File Source="$(var.Kean.Json.Dom.TargetPath)" />
			</Component>
			<Component Id="Kean.Json.Sax">
				<File Source="$(var.Kean.Json.Sax.TargetPath)" />
			</Component>
			<Component Id="Kean.Json.Serialize">
				<File Source="$(var.Kean.Json.Serialize.TargetPath)" />
			</Component>
			<Component Id="Kean.Math">
				<File Source="$(var.Kean.Math.TargetPath)" />
			</Component>
			<Component Id="Kean.Math.Complex">
				<File Source="$(var.Kean.Math.Complex.TargetPath)" />
			</Component>
			<Component Id="Kean.Math.Geometry2D">
				<File Source="$(var.Kean.Math.Geometry2D.TargetPath)" />
			</Component>
			<Component Id="Kean.Math.Geometry3D">
				<File Source="$(var.Kean.Math.Geometry3D.TargetPath)" />
			</Component>
			<Component Id="Kean.Math.Matrix">
				<File Source="$(var.Kean.Math.Matrix.TargetPath)" />
			</Component>
			<Component Id="Kean.Math.Random">
				<File Source="$(var.Kean.Math.Random.TargetPath)" />
			</Component>
			<Component Id="Kean.Math.Regression">
				<File Source="$(var.Kean.Math.Regression.TargetPath)" />
			</Component>
			<Component Id="Kean.Platform">
				<File Source="$(var.Kean.Platform.TargetPath)" />
			</Component>
			<Component Id="Kean.Platform.Log">
				<File Source="$(var.Kean.Platform.Log.TargetPath)" />
			</Component>
			<Component Id="Kean.Platform.Settings">
				<File Source="$(var.Kean.Platform.Settings.TargetPath)" />
			</Component>
			<Component Id="Kean.Xml">
				<File Source="$(var.Kean.Xml.TargetPath)" />
			</Component>
			<Component Id="Kean.Xml.Dom">
				<File Source="$(var.Kean.Xml.Dom.TargetPath)" />
			</Component>
			<Component Id="Kean.Xml.Sax">
				<File Source="$(var.Kean.Xml.Sax.TargetPath)" />
			</Component>
			<Component Id="Kean.Xml.Serialize">
				<File Source="$(var.Kean.Xml.Serialize.TargetPath)" />
			</Component>
			<!--Cairo-->
			<Component Id="freetype6">
				<File Source="$(var.Kean.Core.TargetDir)freetype6.dll" />
			</Component>
			<Component Id="libcairo2">
				<File Source="$(var.Kean.Core.TargetDir)libcairo-2.dll" />
			</Component>
			<Component Id="libcairo_gobject_2">
				<File Source="$(var.Kean.Core.TargetDir)libcairo-gobject-2.dll" />
			</Component>
			<Component Id="libcairo_script_interpreter_2">
				<File Source="$(var.Kean.Core.TargetDir)libcairo-script-interpreter-2.dll" />
			</Component>
			<Component Id="libexpat_1">
				<File Source="$(var.Kean.Core.TargetDir)libexpat-1.dll" />
			</Component>
			<Component Id="libfontconfig_1">
				<File Source="$(var.Kean.Core.TargetDir)libfontconfig-1.dll" />
			</Component>
			<Component Id="libpng14_14">
				<File Source="$(var.Kean.Core.TargetDir)libpng14-14.dll" />
			</Component>
			<Component Id="Mono.Cairo">
				<File Source="$(var.Kean.Core.TargetDir)Mono.Cairo.dll" />
			</Component>
			<!--GLib-->
			<Component Id="glib_sharp">
				<File Source="$(var.Kean.Core.TargetDir)glib-sharp.dll" />
			</Component>
			<Component Id="glibsharpglue_2">
				<File Source="$(var.Kean.Core.TargetDir)glibsharpglue-2.dll" />
			</Component>
			<Component Id="intl">
				<File Source="$(var.Kean.Core.TargetDir)intl.dll" />
			</Component>
			<Component Id="libgio_2.0_0">
				<File Source="$(var.Kean.Core.TargetDir)libgio-2.0-0.dll" />
			</Component>
			<Component Id="libglib_2.0_0">
				<File Source="$(var.Kean.Core.TargetDir)libglib-2.0-0.dll" />
			</Component>
			<Component Id="libgmodule_2.0_0">
				<File Source="$(var.Kean.Core.TargetDir)libgmodule-2.0-0.dll" />
			</Component>
			<Component Id="libgobject_2.0_0">
				<File Source="$(var.Kean.Core.TargetDir)libgobject-2.0-0.dll" />
			</Component>
			<Component Id="libgthread2.0_0">
				<File Source="$(var.Kean.Core.TargetDir)libgthread-2.0-0.dll" />
			</Component>
			<Component Id="zlib1">
				<File Source="$(var.Kean.Core.TargetDir)zlib1.dll" />
			</Component>
			<!--Pango-->
			<Component Id="libpango_1.0_0">
				<File Source="$(var.Kean.Core.TargetDir)libpango-1.0-0.dll" />
			</Component>
			<Component Id="libpangocairo_1.0_0">
				<File Source="$(var.Kean.Core.TargetDir)libpangocairo-1.0-0.dll" />
			</Component>
			<Component Id="libpangoft2_1.0_0">
				<File Source="$(var.Kean.Core.TargetDir)libpangoft2-1.0-0.dll" />
			</Component>
			<Component Id="libpangowin32_1.0_0">
				<File Source="$(var.Kean.Core.TargetDir)libpangowin32-1.0-0.dll" />
			</Component>
			<Component Id="pango_sharp">
				<File Source="$(var.Kean.Core.TargetDir)pango-sharp.dll" />
			</Component>
			<Component Id="pangosharpglue_2">
				<File Source="$(var.Kean.Core.TargetDir)pangosharpglue-2.dll" />
			</Component>
			<!--OpenTK-->
			<Component Id="OpenTK">
				<File Source="$(var.Kean.Core.TargetDir)OpenTK.dll" />
			</Component>
			<Component Id="OpenTK.GLControl">
				<File Source="$(var.Kean.Core.TargetDir)OpenTK.GLControl.dll" />
			</Component>
			<!--<Component Id="OpenTK.xml">
				<File Source="$(var.Kean.Core.TargetDir)OpenTK.xml" />
			</Component>-->
		</ComponentGroup>
		<ComponentGroup Id="ProductModules" Directory="MODULESFOLDER">
			<Component Id="Kean.Platform.Log_Module">
				<File Source="$(var.Kean.Platform.Log.TargetDir)Modules\Log.xml" />
			</Component>
			<Component Id="Kean.Platform.Settings_Module">
				<File Source="$(var.Kean.Platform.Settings.TargetDir)Modules\Settings.xml" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>