<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cairo" version="2.0.0.1" targetFramework="net40" />
  <package id="GLib.Sharp" version="2.28.1.1" targetFramework="net40" />
  <package id="OpenTK" version="1.1.1161.61462" targetFramework="net40" />
  <package id="OpenTK.GLControl" version="1.1.1161.61462" targetFramework="net40" />
  <package id="Pango" version="1.28.3.1" targetFramework="net40" />
</packages>