<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kean.Core" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Kean.Core.Collection" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="Kean.Core.Error" version="0.2.0.757" targetFramework="net40-Client" />
  <package id="OpenTK" version="1.1.704.2230" targetFramework="net45" />
</packages>