<#@ template language="C#v3.5" hostspecific="True" #>
<#
	GenerateStart("PointValue", "Kean.Math.Geometry2D.Test", "Single",  "float");
    GenerateSingle("PointValue", "Kean.Math.Geometry2D.Test");
    GenerateEnd();
    SaveOutput("Single/PointValue.cs");  
    
    GenerateStart("PointValue", "Kean.Math.Geometry2D.Test", "Double",  "double");
    GenerateDouble("PointValue", "Kean.Math.Geometry2D.Test");
    GenerateEnd();
    SaveOutput("Double/PointValue.cs");   

    GenerateStart("PointValue", "Kean.Math.Geometry2D.Test", "Integer",  "int");
    GenerateInteger("PointValue", "Kean.Math.Geometry2D.Test");
    GenerateEnd();
    SaveOutput("Integer/PointValue.cs");  
#>
<#+
  void SaveOutput(string outputFileName)
  {
      string templateDirectory = System.IO.Path.GetDirectoryName(Host.TemplateFile);
      string outputFilePath = System.IO.Path.Combine(templateDirectory, outputFileName);
      System.IO.File.WriteAllText(outputFilePath, this.GenerationEnvironment.ToString()); 
      this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
  }
#>
<#+
    void GenerateStart(string @name, string @namespace, string @namespace1, string @value1)
    {
#>
// 
//  <#= @name #>.cs
//  
//  Author:
//       Anders Frisk <andersfrisk77@gmail.com>
//  
//  Copyright (c) 2011 Simon Mika
// 
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU Lesser General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
// 
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU Lesser General Public License for more details.
// 
//  You should have received a copy of the GNU Lesser General Public License
//  along with this program.  If not, see <http://www.gnu.org/licenses/>.

using System;
using NUnit.Framework;
using NUnit.Framework.SyntaxHelpers;
using Target = Kean.Math.Geometry2D;
using Kean.Core.Extension;

namespace <#= @namespace #>.<#= @namespace1 #>
{
    [TestFixture]
    public class <#= @name #> :
        Kean.Test.Fixture<<#= @name #>>
    {
        string prefix = "<#= @namespace #>.<#= @namespace1 #>.<#= @name #>";
        float Precision { get { return 1e-4f; } }
        Target.<#= @namespace1 #>.<#= @name #> CastFromString(string value)
        {
            return value;
        }
        string CastToString(Target.<#= @namespace1 #>.<#= @name #> value)
        {
            return value;
        }
        Target.<#= @namespace1 #>.<#= @name #> vector0 = new Target.<#= @namespace1 #>.<#= @name #>((<#= @value1 #>)22.221f, (<#= @value1 #>)-3.1f);
        Target.<#= @namespace1 #>.<#= @name #> vector1 = new Target.<#= @namespace1 #>.<#= @name #>((<#= @value1 #>)12.221f, (<#= @value1 #>)13.1f);
        Target.<#= @namespace1 #>.<#= @name #> vector2 = new Target.<#= @namespace1 #>.<#= @name #>((<#= @value1 #>)34.442f, (<#= @value1 #>)10.0f);
        Target.<#= @namespace1 #>.<#= @name #> vector3 = new Target.<#= @namespace1 #>.<#= @name #>((<#= @value1 #>)10, (<#= @value1 #>)20);

        protected override void Run()
        {
            this.Run(
                this.Polar0,
                this.Polar1,
                this.Polar2,
                this.Polar3,
                this.Polar4,
                this.Polar5,
                this.Angles,
                this.Casts,
                this.StringCasts
                );
        }
        #region Equality
        [Test]
        public void Equality()
        {
            Target.<#= @namespace1 #>.<#= @name #> point = new Target.<#= @namespace1 #>.<#= @name #>();
            Expect(this.vector0, Is.EqualTo(this.vector0));
            Expect(this.vector0.Equals(this.vector0 as object), Is.True);
            Expect(this.vector0 == this.vector0, Is.True);
            Expect(this.vector0 != this.vector1, Is.True);
            Expect(this.vector0 == point, Is.False);
            Expect(point == point, Is.True);
            Expect(point == this.vector0, Is.False);
        }
        #endregion
        #region Arithmetic
        [Test]
        public void Addition()
        {
            Expect((this.vector0 + this.vector1).X, Is.EqualTo(this.vector2.X).Within(this.Precision));
            Expect((this.vector0 + this.vector1).Y, Is.EqualTo(this.vector2.Y).Within(this.Precision));
        }
        [Test]
        public void Subtraction()
        {
            Expect(this.vector0 - this.vector0, Is.EqualTo(new Target.<#= @namespace1 #>.<#= @name #>()));
        }
        [Test]
        public void ScalarMultiplication()
        {
            Expect((-1) * this.vector0, Is.EqualTo(-this.vector0));
        }
        [Test]
        public void ScalarDivision()
        {
            Expect(this.vector0 / (-1), Is.EqualTo(-this.vector0));
        }
        #endregion
        #region Hash Code
        [Test]
        public void Hash()
        {
            Expect(this.vector0.Hash(), Is.Not.EqualTo(0));
        }
        #endregion

        [Test]
        public void GetValues()
        {
            Expect(this.vector0.X, Is.EqualTo((<#= @value1 #>)(22.221)).Within(this.Precision), this.prefix + "GetValues.0");
            Expect(this.vector0.Y, Is.EqualTo((<#= @value1 #>)(-3.1)).Within(this.Precision), this.prefix + "GetValues.1");
        }
        [Test]
        public void Swap()
        {
            Target.<#= @namespace1 #>.<#= @name #> result = this.vector0.Swap();
            Expect(result.X, Is.EqualTo(this.vector0.Y), this.prefix + "Swap.0");
            Expect(result.Y, Is.EqualTo(this.vector0.X), this.prefix + "Swap.1");
        }
        [Test]
        public void Casting()
        {
            string value = "10, 20";
            Expect(this.CastToString(this.vector3), Is.EqualTo(value), this.prefix + "Casting.0");
            Expect(this.CastFromString(value), Is.EqualTo(this.vector3), this.prefix + "Casting.1");
        }
        [Test]
        public void CastingNull()
        {
            string value = null;
            Target.<#= @namespace1 #>.<#= @name #> point = null;
            Expect(this.CastToString(point), Is.EqualTo(value), this.prefix + "CastingNull.0");
            Expect(this.CastFromString(value), Is.EqualTo(point), this.prefix + "CastingNull.1");
        }

        #region Polar Representation
        [Test]
        public void Polar0()
        {
            Target.<#= @namespace1 #>.<#= @name #> point = new Target.<#= @namespace1 #>.<#= @name #>();
            Expect(point.Norm, Is.EqualTo(0));
            Expect(point.Azimuth, Is.EqualTo(0));
        }
        [Test]
        public void Polar1()
        {
            Target.<#= @namespace1 #>.<#= @name #> point = new Target.<#= @namespace1 #>.<#= @name #>(1, 0);
            Expect(point.Norm, Is.EqualTo(1));
            Expect(point.Azimuth, Is.EqualTo(0));
        }
        [Test]
        public void Polar2()
        {
            Target.<#= @namespace1 #>.<#= @name #> point = new Target.<#= @namespace1 #>.<#= @name #>(0, 1);
            Expect(point.Norm, Is.EqualTo(1));
            Expect(point.Azimuth, Is.EqualTo(Kean.Math.<#= @namespace1 #>.ToRadians(90)));
        }
        [Test]
        public void Polar3()
        {
            Target.<#= @namespace1 #>.<#= @name #> point = new Target.<#= @namespace1 #>.<#= @name #>(0, -5);
            Expect(point.Norm, Is.EqualTo(5));
            Expect(point.Azimuth, Is.EqualTo(Kean.Math.<#= @namespace1 #>.ToRadians(-90)));
        }
        [Test]
        public void Polar4()
        {
            Target.<#= @namespace1 #>.<#= @name #> point = new Target.<#= @namespace1 #>.<#= @name #>(-1, 0);
            Expect(point.Norm, Is.EqualTo(1));
            Expect(point.Azimuth, Is.EqualTo(Kean.Math.<#= @namespace1 #>.ToRadians(180)));
        }
        [Test]
        public void Polar5()
        {
            Target.<#= @namespace1 #>.<#= @name #> point = new Target.<#= @namespace1 #>.<#= @name #>(-3, 0);
            <#= @value1 #> radius = point.Norm;
            <#= @value1 #> azimuth = point.Azimuth;
            Target.<#= @namespace1 #>.<#= @name #> point2 = Target.<#= @namespace1 #>.<#= @name #>.Polar(radius, azimuth);
            Expect(point.Distance(point2), Is.EqualTo(0).Within(this.Precision));
        }
        #endregion
        [Test]
        public void Angles()
        {
            Expect(Target.Single.<#= @name #>.BasisX.Angle(Target.Single.<#= @name #>.BasisX), Is.EqualTo(0).Within(this.Precision));
            Expect(Target.Single.<#= @name #>.BasisX.Angle(Target.Single.<#= @name #>.BasisY), Is.EqualTo(Kean.Math.Single.Pi / 2).Within(this.Precision));
            Expect(Target.Single.<#= @name #>.BasisX.Angle(-Target.Single.<#= @name #>.BasisY), Is.EqualTo(-Kean.Math.Single.Pi / 2).Within(this.Precision));
            Expect(Target.Single.<#= @name #>.BasisX.Angle(-Target.Single.<#= @name #>.BasisX), Is.EqualTo(Kean.Math.Single.Pi).Within(this.Precision));
        }
<#+
    }  
#>
<#+
    void GenerateDouble(string @name, string @namespace)
    {
#>
        [Test]
        public void Casts()
        {
            // integer - double
            {
                Target.Integer.<#= @name #> integer = new Target.Integer.<#= @name #>(10, 20);
                Target.Double.<#= @name #> @double = integer;
                Expect(@double.X, Is.EqualTo(10));
                Expect(@double.Y, Is.EqualTo(20));
                Expect((Target.Integer.<#= @name #>)@double, Is.EqualTo(integer));
            }
            // single - double
            {
                Target.Single.<#= @name #> single = new Target.Single.<#= @name #>(10, 20);
                Target.Double.<#= @name #> @double = single;
                Expect(@double.X, Is.EqualTo(10));
                Expect(@double.Y, Is.EqualTo(20));
                Expect((Target.Single.<#= @name #>)@double, Is.EqualTo(single));
            }
        }
		[Test]
        public void StringCasts()
        {
            string textFromValue = new Target.Double.<#= @name #>(10, 20);
            Expect(textFromValue, Is.EqualTo("10, 20"));
            Target.Double.<#= @name #> @integerFromText = "10, 20";
            Expect(@integerFromText.X, Is.EqualTo(10));
            Expect(@integerFromText.Y, Is.EqualTo(20));
        }
<#+
    }  
#>
<#+
    void GenerateSingle(string @name, string @namespace)
    {
#>
        [Test]
        public void Casts()
        {
            // integer - single
            {
                Target.Integer.<#= @name #> integer = new Target.Integer.<#= @name #>(10, 20);
                Target.Single.<#= @name #> @single = integer;
                Expect(@single.X, Is.EqualTo(10));
                Expect(@single.Y, Is.EqualTo(20));
                Expect((Target.Integer.<#= @name #>)@single, Is.EqualTo(integer));
            }
        }
		[Test]
        public void StringCasts()
        {
            string textFromValue = new Target.Single.<#= @name #>(10, 20);
            Expect(textFromValue, Is.EqualTo("10, 20"));
            Target.Single.<#= @name #> @integerFromText = "10, 20";
            Expect(@integerFromText.X, Is.EqualTo(10));
            Expect(@integerFromText.Y, Is.EqualTo(20));
        }
<#+
    }  
#>
<#+
    void GenerateInteger(string @name, string @namespace)
    {
#>
        [Test]
        public void Casts()
        { }
		[Test]
        public void StringCasts()
        {
            string textFromValue = new Target.Integer.<#= @name #>(10, 20);
            Expect(textFromValue, Is.EqualTo("10, 20"));
            Target.Integer.<#= @name #> @integerFromText = "10, 20";
            Expect(@integerFromText.X, Is.EqualTo(10));
            Expect(@integerFromText.Y, Is.EqualTo(20));
        }
<#+
    }  
#>
<#+
    void GenerateEnd()
    {
#>
    }
}

<#+
    }  
#>